[submodule "deps/semver"]
	path = deps/semver
	url = https://github.com/alire-project/semantic_versioning.git
[submodule "deps/simple_logging"]
	path = deps/simple_logging
	url = https://github.com/alire-project/simple_logging.git
