[general]
description = "GNAT Components Collection - Bindings to GMP"
licenses = ["GPL 3.0"]
authors = ["AdaCore"]
maintainers = ["derodat@adacore.com"]
maintainers-logins = ["pmderodat"]

project-files = ["gmp/gnatcoll_gmp.gpr"]

    [general.gpr-externals]
    BUILD = ["DEBUG", "PROD"]
    LIBRARY_TYPE = ["relocatable", "static", "static-pic"]
    GNATCOLL_VERSION = ""

    [general.gpr-set-externals]
    BUILD = "PROD"
    LIBRARY_TYPE = "static-pic"

[2019]
origin = """https://community.download.adacore.com/v1/\
            964ece4f78755a2fb3c1c84cec2c375cda66bd98?filename="""
archive-name = "gnatcoll-bindings-2019-20190430-1928C-src.tar.gz"
origin-hashes = ["""\
    sha512:6db1d35a1cdf5188001084750f7aa32b193768f8c3dfb6d7db8a8314c745fc054b0\
    a6d2234a6dd64c5acd4b1bafffa7ce7f1080bd51fbb8bc88edfcc855b7a48\
"""]

    [2019.depends-on]
    gnat = ">=9.0"
    gnatcoll = "^2019"
    libgmp = "^6.1"

    [2019.gpr-set-externals]
    GNATCOLL_VERSION = "2019"
