name = "libgpr2"
version = "25.0.0"
description = "Parser for GPR  Project File"
authors = ["AdaCore"]
licenses = "Apache-2.0 WITH LLVM-exception"
maintainers = ["chouteau@adacore.com"]
maintainers-logins = ["Fabien-Chouteau"]
project-files = ["gpr2.gpr"]

[configuration]
disabled = true

[gpr-externals]
GPR2_BUILD = ["debug", "release", "release_checks", "gnatcov"]
LIBRARY_TYPE = ["static", "relocatable", "static-pic"]

[gpr-set-externals]
GPR2_BUILD = "release"

[[depends-on]]
gnatcoll = "~25.0.0"
gnatcoll_iconv = "~25.0.0"
gnatcoll_gmp = "~25.0.0"
gnat = ">=14"

[origin]
url="https://github.com/AdaCore/gpr/releases/download/v25.0.0/gpr2-with-gprconfig_kb-25.0.tgz"
hashes=['sha512:70fe0fcf541f6d3d90a34cab1638bbc0283dcd765c000406e0cfb73bae1817b30ddfe73f3672247a97c6b6bfc41900bc96a4440ca0c660f9c2f7b9d3cc8f8dcf']
