name = "gnoga"
description = "gnoga - The GNU Omnificent GUI for Ada"
version = "2.1.2"
tags = ["gui", "web", "server", "http", "https", "ssl"]

authors = ["David Botton"]
maintainers = ["Pascal Pignard <blady.net@orange.fr>"]
maintainers-logins = ["Blady-Com"]
website = "https://github.com/Blady-Com/gnoga"

licenses = "GPL-3.0-only WITH GCC-exception-3.1"

project-files = ["lib_gnoga.gpr"]

[[depends-on]]
gnat = ">=2021 | (>=12 & <2000)"
simple_components = "^4.62.0"
uxstrings = "~0.4.0+alpha-20220803"

[gpr-set-externals.'case(os)']
linux   = { PRJ_TARGET = "Linux" }
windows = { PRJ_TARGET = "Windows" }
macos   = { PRJ_TARGET = "OSX" }

[origin]
commit = "5f127c56986a7a1a562b405d7934eabf8e624c25"
url = "git+https://github.com/Blady-Com/gnoga.git"

