name = "gnatprove"
version = "13.2.1"
description = "Automatic formal verification of SPARK code"
maintainers = ["chouteau@adacore.com"]
maintainers-logins = ["Fabien-Chouteau"]
licenses = "GPL-3.0-or-later"

auto-gpr-with = false

[configuration]
disabled = true

[environment]
PATH.prepend = "${CRATE_ROOT}/bin"
GPR_PROJECT_PATH.prepend = "${CRATE_ROOT}/lib/gnat"

[origin."case(os)".windows."case(host-arch)".x86-64]
url = "https://github.com/alire-project/GNAT-FSF-builds/releases/download/gnatprove-13.2.0-1/gnatprove-x86_64-windows64-13.2.0-1.tar.gz"
hashes = ["sha256:c7d44efa4167551935eab485a38a5d3a592004c1553e7a32c02187602c2a5b01"]

[origin."case(os)".macos."case(host-arch)".x86-64]
url = "https://github.com/alire-project/GNAT-FSF-builds/releases/download/gnatprove-13.2.0-1/gnatprove-x86_64-darwin-13.2.0-1.tar.gz"
hashes = ["sha256:d088f8a188658aa0befcb5a4a5b9211fccf7d14ba5d5a49189ba70303d5201d7"]

[origin."case(os)".linux."case(host-arch)".x86-64]
url = "https://github.com/alire-project/GNAT-FSF-builds/releases/download/gnatprove-13.2.0-1/gnatprove-x86_64-linux-13.2.0-1.tar.gz"
hashes = ["sha256:28fc3583d2364c1e10790fe258c408faffa42d7ff77bb81dc18d4907608f4017"]
