description = "Open Database Connectivity drivers for UNIX platforms"
website = "http://www.unixodbc.org"
name = "unixodbc"

maintainers = ["alejandro@mosteo.com"]
maintainers-logins = ["mosteo"]

[[external]]
kind = "system"
[external.origin."case(distribution)"]
"debian|ubuntu" = ["unixodbc-dev"]
"homebrew" = ["unixodbc"]
"macports" = ["unixodbc"]

[[external]]
kind = "version-output"
version-command = [ "odbc_config", "--version" ]
version-regexp = "([\\d\\.]+)"
